@model AppMvc.Models.Collaborator

@{
    ViewBag.Title = "Detalhes do Colaborador";
}

<h2>Detalhes do Colaborador</h2>

<div class="alert alert-info">
    <h4>Colaborador</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CodigoUnidade)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CodigoUnidade)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IdUnidade)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IdUnidade)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Ativo)
            @if (Model.Ativo)
            {<span class="text-success">Ativo</span>;
            }
            else
            { <span class="text-danger">Inativo</span>;
            }
        </dd>
    </dl>
</div>

<div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Voltar para a lista", "Index", null, new { @class = "btn btn-secondary" })
    </p>
</div>
